<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<meta charset="utf-8">
		<title>ECTouch微商城</title>
		<link rel="stylesheet" href="{__TPL__}fonts/iconfont.css">
		<link rel="stylesheet" href="{__TPL__}css/swiper-3.2.5.min.css" />
		<link rel="stylesheet" href="{__TPL__}css/ectouch.css" />
	</head>

	<body>
		<div id="loading"><img src="{__TPL__}img/loading.gif" /></div>
		<div class="con">
			<div class="error">
				<img src="{__TPL__}img/404.png" />
				<a href="{__ROOT__}" class="t-remark">返回首页</a>
			</div>
		</div>
		<script type="text/javascript" src="{__TPL__}js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="{__TPL__}js/swiper-3.2.5.min.js"></script>
		<script type="text/javascript" src="{__TPL__}js/ectouch.js"></script>
	</body>
</html>