<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<meta charset="utf-8">
		<title>您访问的页面找不到了。</title>
		<link href="{__TPL__}dist/css/touch.min.css" rel="stylesheet"/>
	</head>
{include file="page_header"}
	<body>
		<div id="loading"><img src="{__TPL__}img/loading.gif" /></div>
		<div class="con">
			<div class="error">
				<img src="{__TPL__}img/404.png" />
				<a href="{__ROOT__}" class="t-remark">返回首页</a>
			</div>
		</div>
	</body>
</html>