{include file="page_header"}
			<nav class="index-nav index-more-nav">
				<header class="padding-all text-center title">
					个人中心
				</header>
				<ul class="ul-4 text-center of-hidden bg-white">
                                       	<li>
						<a href="{U('user/index/collectionlist')}">
                                                    <img src="{__TPL__}img/shoucang.png">
							<p>我的收藏</p>
						</a>
					</li>
					
					<li class="">
						<a href="{U('user/index/storelist')}" class="">
						<img src="{__TPL__}img/guanzhu.png">
							<p>我的关注</p>
						</a>
					</li>
				
                                        	<li>
						<a href="{U('user/order/index')}">
							<img src="{__TPL__}img/dingdan.png">
							<p>我的订单</p>
						</a>
					</li>
                                        	<li>
						<a href="{U('user/account/index')}">
						<img src="{__TPL__}img/zijinguanli.png">
							<p>资金管理</p>
						</a>
					</li>
                                       <li>
						<a href="{U('cart/index/index')}">
							<img src="{__TPL__}img/gouwuche.png">
							<p>购物车</p>
						</a>
					</li>
                                        <li>
						<a href="{U('user/index/affiliate')}">
							<img src="{__TPL__}img/fenxiang.png">
							<p>我的分享</p>
						</a>
					</li>
					<li>
						<a href="{U('user/index/index')}">
							<img src="{__TPL__}img/user.png">
							<p>个人中心</p>
						</a>
					</li>
                                        
                                     
				</ul>
<header class="padding-all text-center title">
									精选类目
						</header>
						<ul class="ul-4 text-center of-hidden bg-white">
						<li>
						<a href="{U('store/index/index')}">
						<img src="{__TPL__}img/dianpujie.png">
						<p>店铺街</p>
						</a>
						</li>
						<li>
						<a href="{U('crowd_funding/index/index')}">
						<img src="{__TPL__}img/iconfont_crowd.png">
						<p>微筹</p>
						</a>
						</li>
														
						<li>
						<a href="{U('brand/index/index')}">
						<img src="{__TPL__}img/pinpaijie.png">
						<p>品牌街</p>
						</a>
						</li>
																<li>
						<a href="{U('topic/index/index')}">
							<img src="{__TPL__}img/zhuanti.png">
							<p>专题汇</p>
						</a>
					</li>
                                        <li>
						<a href="{U('exchange/index/index')}">
						<img src="{__TPL__}img/jifen.png">
							<p>抵用券换购</p>
						</a>
					</li>
                                        <li>
						<a href="{U('groupbuy/index/index')}">
						<img src="{__TPL__}img/tuangou.png">
							<p>最新团购</p>
						</a>
					</li>
                                        <li>
						<a href="{U('activity/index/index')}">
							<img src="{__TPL__}img/cuxiao.png">
							<p>促销活动</p>
						</a>
					</li>
					<li>
						<a href="{U('article/index/index')}">
						<img src="{__TPL__}img/xinwen.png">
							<p>新闻资讯</p>
						</a>
					</li>
                                        <li>
						<a href="{U('community/index/index')}">
							<img src="{__TPL__}img/shequ.png">
							<p>社区服务</p>
						</a>
					</li>
                                        <li>
						<a href="{U('package/index/index')}">
						<img src="{__TPL__}img/libao.png">
							<p>超值礼包</p>
						</a>
					</li>
                                       <li>
						<a href="{U('auction/index/index')}">
						<img src="{__TPL__}img/paimai.png">
							<p>拍卖活动</p>
						</a>
					</li>
				
				</ul>
			</nav>
		</div>
	{include file="script"}	
	</body>

</html>