<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{$page_title}</title>
    <!--字体图标库-->
    <link rel="stylesheet" href="{__TPL__}fonts/iconfont.css">
    <link rel="stylesheet" href="{__TPL__}css/swiper-3.2.5.min.css">
    <!--主样式-->
    <link rel="stylesheet" href="{__TPL__}css/ectouch.css" />
    <script>var PATH = '/ECTouchDsh/mobile/index.php?r=';</script>
    <script type="text/javascript" src="{__TPL__}js/jquery-2.1.4.min.js"></script>
</head>

<body class="b-color-f">
{include file="float_nav"}
{include file="search"}
		<div class="con" id="pjax-container">
			<!--根据手机找回-->
			<form action="{U('edit_password')}" method="post" onsubmit="return check()" >
			<section class="user-center user-forget-tel margin-lr">
				<div class="text-all dis-box j-text-all" name="userpassworddiv">
					<div class="input-text input-check  box-flex">
						<input class="j-input-text" name="old_password" type="password" placeholder="请输入旧密码" />
						<i class="iconfont icon-guanbi is-null j-is-null"></i>
					</div>
					<i class="iconfont icon-yanjing is-yanjing j-yanjing disabled"></i>
				</div>
				<div class="text-all dis-box j-text-all" name="userpassworddiv">
					<div class="input-text input-check  box-flex">
						<input class="j-input-text" name="new_password1" type="password" placeholder="请输入新密码" />
						<i class="iconfont icon-guanbi is-null j-is-null"></i>
					</div>
					<i class="iconfont icon-yanjing is-yanjing j-yanjing disabled"></i>
				</div>
				<div class="text-all dis-box j-text-all" name="userpassworddiv">
					<div class="input-text input-check  box-flex">
						<input class="j-input-text" type="password" name="new_password" placeholder="确认输入新密码" />
						<i class="iconfont icon-guanbi is-null j-is-null"></i>
					</div>
					<i class="iconfont icon-yanjing is-yanjing j-yanjing disabled"></i>
				</div>
				<input type="hidden" name="uid" value="{$uid}" >
				<button type="submit" class="btn-submit">确认修改</button>
			</section>
			</form>
		</div>
		<!--引用js-->
		
		<script type="text/javascript" src="{__TPL__}js/swiper-3.2.5.min.js"></script>
		<script type="text/javascript" src="{__TPL__}js/ectouch.js"></script>
        <script>
        function check(){
            var word      =$("input[name=new_password1]");
            var word2     =$("input[name=new_password]");
            if(word.val() == ''){
				 d_messages('新密码不能为空',2);
				 $("div[name=userpassworddiv]").addClass("active");
				 return false;
			 }
            if(word.val() != word2.val()){
  				 d_messages('两次密码不一致',2);
  				 $("div[name=userpassword]").addClass("active");
  				 return false;
  			 }
           
       }
        </script>
	</body>

</html>