<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8">
    <title>{$page_title}</title>
    <link href="{__TPL__}css/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" />
    <!--字体图标库-->
    <link rel="stylesheet" href="{__TPL__}fonts/iconfont.css">
    <link rel="stylesheet" href="{__TPL__}css/swiper-3.2.5.min.css">
    <!--主样式-->
    <link rel="stylesheet" href="{__TPL__}css/ectouch.css" />
    <script type="text/javascript" src="{__TPL__}js/jquery-2.1.4.min.js"></script>
</head>
<body class="b-color-f">
{include file="float_nav"}
{include file="search"}
<div class="con">
    <!--根据手机找回-->
    <section class="user-center user-forget-tel margin-lr">
        <form id="formid" action="{U('user/login/forget_password')}" method="post" >
        <div class="text-all dis-box j-text-all">
            <div class="input-text input-check  box-flex">
                <input class="j-input-text" type="password" name="password" placeholder="请输入新密码" />
                <i class="iconfont icon-guanbi is-null j-is-null"></i>
            </div>
            <i class="iconfont icon-yanjing is-yanjing j-yanjing disabled"></i>
        </div>
        <button type="button" onclick="forget()" class="btn-submit">确认修改</button>
        <input type="hidden" name="uid" value="{$uid}">
        </form>
    </section>
</div>

<!--引用js-->
{include file="script"}
<script>
    function forget(){
    document.getElementById("formid").submit();
    }
</script>
</body>

</html>